

.card{
    height: 100px;
    background-color: rgba(136, 133, 133, 0.486);
}

.card:hover{
    box-shadow: 2px 3px 5px 4px rgba(136, 133, 133, 0.486);
}

.card-img-top{
    width: 100%;
    height: 250px;
    padding: 20px;
    transition: 2s;
}

.card-img-top:hover{
    transform: scale(1.1);
    transition: 3s;
}